src/main/mule/demo-jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a330bea1-5a7c-4d3a-b064-c9ba0cabe60f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo-jenkinsFlow" doc:id="9182b7f9-d107-48bf-b065-3b0a41eccba9" >
		<http:listener doc:name="Listener" doc:id="70ae2f2b-838d-4b33-9f08-0ef00c1c324f" config-ref="HTTP_Listener_config" path="/tesr"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="feabe68a-ad27-4640-80ac-595adc2846a9" />
	</flow>
</mule>
